<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <h2 class="title is-4 has-text-centered">Generate Token</h2>
        <form>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="Type your email">
            </div>
          </div>
          <div class="control has-text-centered">
            <button class="button is-primary">Generate</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <h2 class="title is-4 has-text-centered">Login using Token</h2>
        <form>
          <div class="field">
            <label class="label">Token</label>
            <div class="control">
              <input class="input" type="text" placeholder="Inform your access token">
            </div>
          </div>
          <div class="control has-text-centered">
            <button class="button is-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
