<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <h2 class="title is-4 has-text-centered">Generate Token</h2>
        <%= render "main/forms/token_generation" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <h2 class="title is-4 has-text-centered">Login using Token</h2>
        <%= render "main/forms/login" %>
      </div>
    </div>
  </div>
</div>