<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "Pinscher", root_path, class: "navbar-item" %>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <%= link_to "Home", root_path, class: "navbar-item" %>
      </div>
    </div>
  </div>
</nav>
